@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100 dark:bg-slate-900 dark:text-white;
  }
  input[type="submit"] {
    @apply text-white bg-slate-500 px-2 py-1 rounded outline-none cursor-pointer;
  }

  section[data-type="section"] {
    @apply bg-white dark:bg-[#2e3642] shadow-sm p-6 rounded-2xl dark:text-slate-300;
  }

  h1 {
    @apply font-semibold text-2xl mb-2;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner__icon:after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgb(0, 191, 255); /* change to a brighter color */
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
